h1 {
  padding: 10px;
  font-size: 45px;
  letter-spacing: -2px;
  color: black;
  text-shadow: -20px 30px 10px #f1b329, 20px -30px 10px #f1b329, -30px 20px 10px #be4a14, 30px -20px 10px #be4a14;
}

body {
  font-family: 'Playfair Display', serif;
  display: flex;
  background-image: url("pics/Wonderland_Maze.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: #982657
}

.game {
  min-width: 650px;
  min-height: 640px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  clear: both;
}

.button {
  font-family: 'Playfair Display', serif;
  padding: 10px;
  margin: 20px;
  font-size: 1.5em;
  background-color: #be4a14;
  border-radius: 20px;
  border-color: #9b390c;
}

#playground {
  width: 650px;
  height: 640px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile {
  background-color: #373848;
  background-image: url("pics/Cobblestone.png");
  background-size: cover;
  border: 1px solid #373848;
  box-sizing: border-box;
  flex: 1;
  min-width: 4.762%;
  min-height: 4.762%;
}

.player {
  box-sizing: border-box;
  background-image: url("pics/Little_flame_character.gif");
  background-color: black;
}

.wall {
  background-color: #08281f;
  background-image: url("pics/baum.png");
  background-size: cover;
}

.victory {
  background-color: #be4a14;
  background-image: url("pics/treasures.png")
}

.questiontime {
  border: 1px solid #08281f;
}

.message {
  position: absolute;
  padding: 10px;
  font-size: 30px;
  letter-spacing: -2px;
  color: black;
  top: 50%;
  background-color: #be4a14;
  border-color: #9b390c;
  border-radius: 20px;
}